* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark_blue: #001938;
    /* --black: #020423; */
    --black: #001125;
    --white: #ffffff;
    --med_blue: #0072fe;
    --light_blue: #7eb6fa;
    /* --red: #e7232b; */
    --red: #fb4542;
    font-family: Helvetica, sans-serif;
    scroll-behavior: smooth;
}


body {
    /* background-color: var(--dark_blue); */
    background-color: var(--dark_blue);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    /* width: 1000px; */
}

ul { 
    padding-inline-start: 0px;
}
ul li {
    display: inline;
    list-style: none;
    padding-left: 0px;
}

nav a {
    padding: 0px;
}
nav li::before {
    content: "";
    padding-right: 1em;
}

a {
    color: var(--light_blue);
    /* text-decoration: none; */
}
a:hover {
    /* background-color: var(--light_blue); */
    /* color: var(--dark_blue); */
    /* text-decoration: underline; */
}
nav a {
    /* margin-left: 0.75em; */
    /* padding: 0.75em; */
    /* border: 1px solid var(--dark_blue); */
    text-decoration: none;
    border-radius: 1em;
}
/* nav li:first-child {
    padding-left: 0em;
} */
nav a.donate {
    /* color: var(--red); */
    /* background-color: var(--white); */
    background-color: var(--red);
    color: var(--white);
    border: 1px solid var(--red);
}
nav a:hover {
    /* background-color: var(--dark_blue); */
    /* color: var(--white); */
    text-decoration: underline;
    /* color: var(--med_blue); */
}
nav a.donate:hover {
    text-decoration: none;
    /* color: var(--white);
    background-color: var(--red); */
    color: var(--red);
    background-color: var(--dark_blue);

}

h2 {
    margin: 1em 0;
    color: var(--white);
}
#why {
    margin-top: 2em;
}

main, header {
    padding: 2em 2em;
    color: var(--white);
    background-color: var(--dark_blue);
}

header {
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

p.strong {
    font-weight: 800;
}

#logo {
    margin-bottom: 2em;
    width: 250px;
    height: 109px;
}

p {
    margin-bottom: 1em;
    text-align: justify;
    line-height: 1.6em;
    font-weight: 300;
}

@media(min-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 1000px;
    }
    main, header {
        padding: 2em 5em;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }
}
